{% extends 'admin/dashboard.html' %}
{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item small"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item active small"><a href="{{url_for('authors')}}">Authors</a></li>
    </ol>
</nav>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Information</h5>
                <form method="POST" action="{{url_for('insert_author')}}">
                    <input type="hidden" name="author-id" id="author-id">
                    <div class="form-group">
                        <label for="name">Author Name*</label>
                        <input type="text" name="name" id="name" class="form-control form-control-sm" placeholder="Name" required="">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">SAVE</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Author List</h5>
                <div class="table-responsive">
                   <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in authors %}
                            <tr id="{{ row[0] }}">
                                <td>{{ loop.index }}</td>
                                <td data-target="name">{{row[1]}}</td>
                                <td>
                                    <a href="javascript:;" data-role="update" data-id="{{ row[0] }}">Edit</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block script %}
<script type="text/javascript">
    $(document).on('click', 'a[data-role=update]', function(){
        var id = $(this).data('id');
        var name = $('#'+id).children('td[data-target=name]').text();

        $('#author-id').val(id);
        $('#name').val(name);
    });
</script>
{% endblock %}