{% extends 'admin/dashboard.html' %}
{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item small"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item active small"><a href="{{url_for('book_details')}}">Books</a></li>
    </ol>
</nav>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Basic Information</h5>
                <form method="POST" action="{{url_for('insert_book')}}">
                    <input type="hidden" name="update-id" id="update-id">
                    <div class="form-group">
                        <label for="isbn">ISBN*</label>
                        <input type="text" name="isbn" id="isbn" maxlength="13" minlength="13" class="form-control form-control-sm" placeholder="ISBN" required="">
                    </div>
                    <div class="form-group">
                        <label for="title">Book Title*</label>
                        <input type="text" name="title" id="title" class="form-control form-control-sm" placeholder="Title of the Book" required="">
                    </div>
                    <div class="form-group">
                        <label for="description">Description*</label>
                        <textarea name="description" id="description" class="form-control form-control-sm" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="img">Cover*</label>
                        <input type="text" name="img" id="img" class="form-control form-control-sm" placeholder="URL of Cover Image" required="">
                    </div>
                    <div class="form-group">
                        <label for="author">Author*</label>
                        <select name="author" id="author" class="form-control form-control-sm" required>
                            <option></option>
                            {% for row in authors %}
                            <option value="{{row[0]}}">{{row[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="publisher">Publisher*</label>
                        <input type="text" name="publisher" id="publisher" class="form-control form-control-sm" placeholder="Name of Publisher" required>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <div class="col-6">
                            <label for="publish_date">Date of Publication*</label>
                            <input type="date" name="publish_date" id="publish_date" class="form-control form-control-sm" required>
                        </div>
                        <div class="col-6">
                            <label for="publisher_address">Place of Publication*</label>
                            <input type="text" name="publisher_address" id="publisher_address" class="form-control form-control-sm" placeholder="Place of Publication" required>
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <div class="col-6">
                            <label for="topic">Topic*</label>
                            <input type="text" name="topic" id="topic" class="form-control form-control-sm" placeholder="Topic" required>
                        </div>
                        <div class="col-6">
                            <label for="subject">Subject Covered*</label>
                            <input type="text" name="subject" id="subject" class="form-control form-control-sm" placeholder="Subject Covered" required>
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="table_of_contents">Table of Contents*</label>
                        <textarea name="table_of_contents" id="table_of_contents" class="form-control form-control-sm" placeholder="Table of Contents" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">SAVE</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Book List</h5>
                <div class="table-responsive">
                   <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>ISBN</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Publisher</th>
                                <th>Date of Publication</th>
                                <th>Place of Publication</th>
                                <th>Topic</th>
                                <th>Subject</th>
                                <th>Date Added</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in books %}
                            <tr id="{{ row[0] }}">
                                <td>{{ loop.index }}</td>
                                <td data-target="isbn">{{row[1]}}</td>
                                <td data-target="title">{{row[2]}}</td>
                                <td data-target="description" style="display:none">{{row[3]}}</td>
                                <td data-target="img" style="display:none">{{row[4]}}</td>
                                <td data-target="author">{{row[7]}}</td>
                                <td data-target="auth_id" style="display:none">{{row[8]}}</td>
                                <td data-target="publisher">{{row[9]}}</td>
                                <td data-target="publish_date">{{row[10]}}</td>
                                <td data-target="publisher_address">{{row[11]}}</td>
                                <td data-target="topic">{{row[12]}}</td>
                                <td data-target="subject">{{row[13]}}</td>
                                <td data-target="table_of_contents" style="display:none">{{row[14]}}</td>
                                <td data-target="dateadded">{{row[6]}}</td>
                                <td>
                                    <a href="javascript:;" data-role="update" data-id="{{ row[0] }}">Edit</a> |
                                    <a href="javascript:;" data-role="qr" data-id="{{ row[0] }}" data-qr="{{ qrcode(row[1]) }}">QR Code</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="qrcode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Generated QR Code for Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <center>
                    <img src="" id="qrcode_">
                    <br><br>
                    ISBN: <h5 id="isbn_"></h5>
                </center>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $(document).on('click','a[data-role=qr]', function(){
        var id = $(this).data('id');
        var isbn = $('#'+id).children('td[data-target=isbn]').text();
        var qr = $(this).data('qr');

        $("#qrcode").modal('toggle');
        $('#isbn_').text(isbn);
        $('#qrcode_').attr('src',qr);

        console.log(qr);
    })

    $(document).on('click', 'a[data-role=update]', function(){
        var id = $(this).data('id');
        var isbn = $('#'+id).children('td[data-target=isbn]').text();
        var title = $('#'+id).children('td[data-target=title]').text();
        var img = $('#'+id).children('td[data-target=img]').text();
        var description = $('#'+id).children('td[data-target=description]').text();
        var author = $('#'+id).children('td[data-target=auth_id]').text();
        var p = $('#'+id).children('td[data-target=publisher]').text();
        var pd = $('#'+id).children('td[data-target=publish_date]').text();
        var pa = $('#'+id).children('td[data-target=publisher_address]').text();
        var t = $('#'+id).children('td[data-target=topic]').text();
        var s = $('#'+id).children('td[data-target=subject]').text();
        var toc = $('#'+id).children('td[data-target=table_of_contents]').text();

        $('#update-id').val(id);
        $('#isbn').val(isbn);
        $('#title').val(title);
        $('#img').val(img);
        $('#description').val(description);
        $('#author').val(author);
        $('#publisher').val(p);
        $('#publish_date').val(String(pd).substring(0,10));
        $('#publisher_address').val(pa);
        $('#topic').val(t);
        $('#subject').val(s);
        $('.trumbowyg-editor').html(toc);
    });

    $(document).ready(function(){
        $('#table_of_contents').trumbowyg();
        $('.trumbowyg-box').css('margin-top', '0px');
    });
</script>
{% endblock %}