<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url_for('static', filename='image/profile_small.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/trumbowyg/trumbowyg.min.css') }}">

    <title>Bookista Administrator | Dashboard</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light">
		<a href="#" class="navbar-brand mb-0 h1">BOOKISTA</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="{{url_for('user_details')}}" class="nav-link">Users</a>
				</li>
				<li class="nav-item">
					<a href="{{url_for('book_details')}}" class="nav-link">Books</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  	Libraries
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a href="{{url_for('authors')}}" class="nav-link">Authors</a>
						<a href="{{url_for('roles')}}" class="nav-link">Roles</a>
						<a href="{{url_for('courses')}}" class="nav-link">Courses</a>
					</div>
			  </li>

				<li class="nav-item">
					<a href="{{url_for('logout')}}" class="nav-link">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	{% block breadcrumbs %}{% endblock %}

	<div class="container-fluid">
		{% block content %}{% endblock %}
	</div>
	
	<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/trumbowyg.min.js') }}"></script>
	{% block script %}{% endblock %}
</body>
</html>