<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url_for('static', filename='image/profile_small.png') }}">
    <title>Bookista Administrator | Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
</head>
<body class="text-center" style="background-color: white !important;">
    <form id="loginForm" class="form-signin">
        <div class="alertBox"></div>
            <strong>Basic Information</strong>
            <label for="inputEmail" class="sr-only">Firstname</label>
            <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Username" required autofocus>
            <br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
            <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fas fa-sign-out-alt"></i> Sign in</button>
        <br>
        <small class="text-muted">Powered by Flask Framework</small>
    </form>
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script>
        $(document).ready(function() {
			$('#loginForm').on('submit', function(event){
				$.ajax({
					data: new FormData(this),
					url: '{{ url_for("admin_login") }}',
					type: 'POST',
					cache		: false,
					contentType	: false,
					processData	: false
				})
				.done(function(data){
					if (data.error) {
						$('.alertBox').empty();
						$('.alertBox').append("<p style='color: red;'>"+ data.error +"</p>");
					}
					else {
						window.location.href = "{{ url_for('admin_dashboard') }}";
					}
				});
				event.preventDefault();
			});
		});
    </script>
</body>
</html>