{% extends 'admin/dashboard.html' %}
{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item small"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item active small"><a href="{{url_for('user_details')}}">Users</a></li>
    </ol>
</nav>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Basic Information</h5>
                <form method="POST" action="{{url_for('users_insert')}}">
                    <input type="hidden" name="update-id" id="update-id">
                    <div class="form-group">
                        <label for="idnumber">ID Number*</label>
                        <input type="text" name="idnumber" id="idnumber" class="form-control form-control-sm" placeholder="16-xxxxx" required="">
                    </div>
                    <div class="form-group">
                        <label for="fname">First Name*</label>
                        <input type="text" name="fname" id="fname" class="form-control form-control-sm" placeholder="First Name" required="">
                    </div>
                    <div class="form-group">
                        <label for="mname">Middle Name*</label>
                        <input type="text" name="mname" id="mname" class="form-control form-control-sm" placeholder="Middle Name" required="">
                    </div>
                    <div class="form-group">
                        <label for="lname">Last Name*</label>
                        <input type="text" name="lname" id="lname" class="form-control form-control-sm" placeholder="Last Name" required="">
                    </div>
                    <div class="form-group">
                        <label for="course">Course*</label>
                        <select name="course" id="course" class="form-control form-control-sm" required>
                            <option></option>
                            {% for row in courses %}
                            <option value="{{row[0]}}">{{row[1]}} ({{row[2]}})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="yearlvl">Year Level*</label>
                        <input type="text" name="yearlvl" id="yearlvl" class="form-control form-control-sm" placeholder="Year Level" required="">
                    </div>
                    <div class="form-group">
                        <label for="uname">Username*</label>
                        <input type="text" name="uname" id="uname" class="form-control form-control-sm" placeholder="Username" required="">
                    </div>
                    <div class="form-group">
                        <label for="pass">Password*</label>
                        <input type="password" name="pass" id="pass" class="form-control form-control-sm" placeholder="Password" required="">
                    </div>
                    <div class="form-group">
                        <label for="role">Role*</label>
                        <select class="form-control form-control-sm" name="role" required="" id="role">
                            <option></option>
                            {% for row in role %}
                            <option value="{{row[0]}}">{{row[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">SAVE</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">User List</h5>
                <div class="table-responsive">
                   <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Lastname</th>
                                <th>Firstname</th>
                                <th>Middlename</th>
                                <th>Username</th>
                                <th>Course</th>
                                <th>Year Level</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in users %}
                            <tr id="{{ row[0] }}">
                                <td>{{ loop.index }}</td>
                                <td data-target="lname">{{row[1]}}</td>
                                <td data-target="fname">{{row[2]}}</td>
                                <td data-target="mname">{{row[3]}}</td>
                                <td data-target="username">{{row[4]}}</td>
                                <td data-target="course">{{row[11]}}</td>
                                <td data-target="course_id" style="display: none">{{row[6]}}</td>
                                <td data-target="yearlvl">{{row[7]}}</td>
                                <td data-target="idnumber" style="display: none">{{row[8]}}</td>
                                <td data-target="pass" style="display: none">{{row[9]}}</td>
                                <td data-target="usersid" style="display: none">{{row[11]}}</td>
                                <td data-target="role">{{row[5]}}</td>
                                <td data-target="role_id" style="display: none">{{row[10]}}</td>
                                <td>
                                    <a href="javascript:;" data-role="update" data-id="{{ row[0] }}">Edit</a> |
                                    <a href="#" data-role="qr" data-id="{{ row[0] }}">QR Code</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="qrcode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Generated QR Code for Users</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <center>
                    <img src="" id="qrcode_id">
                    <br><br>
                    ID Number: <h5 id="id_number"></h5>
                </center>
            </div>
            <br>
        </div>
    </div>
</div>


{% endblock %}
{% block script %}
<script type="text/javascript">

    $(document).on('click','a[data-role=qr]', function(){
        var id = $(this).data('id');
        var idnumber = $('#'+id).children('td[data-target=idnumber]').text();

        $("#qrcode").modal('toggle');
        $('#id_number').text(idnumber);
        $('#qrcode_id').attr('src',"{{ qrcode("val(idnumber)")  }}")
    })
    

    $(document).on('click', 'a[data-role=update]', function(){
        var id = $(this).data('id');
        var lname = $('#'+id).children('td[data-target=lname]').text();
        var fname = $('#'+id).children('td[data-target=fname]').text();
        var mname = $('#'+id).children('td[data-target=mname]').text();
        var username = $('#'+id).children('td[data-target=username]').text();
        var role = $('#'+id).children('td[data-target=role_id]').text();
        var course = $('#'+id).children('td[data-target=course_id]').text();
        var yearlvl = $('#'+id).children('td[data-target=yearlvl]').text();
        var idnumber = $('#'+id).children('td[data-target=idnumber]').text();
        var pass = $('#'+id).children('td[data-target=pass]').text();

        $('#update-id').val(id);
        $('#fname').val(fname);
        $('#mname').val(mname);
        $('#lname').val(lname);
        $('#course').val(course);
        $('#yearlvl').val(yearlvl);
        $('#uname').val(username);
        $('#role').val(role);
        $('#idnumber').val(idnumber);
        $('#pass').val(pass);
    });
</script>
{% endblock %}