<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url_for('static', filename='image/profile_small.png') }}">
    <title>Bookista | Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1 class="text-center">Scan Book QR Code</h1>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-text">ISBN :</h5>
                        <hr>
                        <h5 class="card-text">Date of Publication : </h5>
                        <h5 class="card-text">Publisher : </h5>
                        <h5 class="card-text">Place of Publication : </h5>
                        <h5 class="card-text">Date Added : </h5>
                        <h5 class="card-text">Number of Borrows : </h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-success float-right">BORROW</button>
                        <h4 class="card-text">TITLE : </h4>
                        <h4 class="card-text">AUTHOR :</h4>
                        <h4 class="card-text">DESCRIPTION :</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="display"></div>

    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script>
        socket = io.connect(location.protocol + '//' + document.domain + ":" + location.port + "/process");
        socket.on('process_book', function(res){
            $('#display').html("<h1>"+ res +"</h1>");
        });

    </script>
</body>
</html>